body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse {
    background-color: #a94442;
    border-color: #080808;
}

navbar-inverse .navbar-nav > li > a {
    color: white;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.course {
    list-style: none;
}

    .course > li {
        position: relative;
        margin-bottom: 30px;
    }

        .course > li .date {
            text-align: center;
            background-color: #ff0000;
            color: white;
            width: 60px;
            border-radius: 8px;
        }

        .course > li .details {
            position: absolute;
            top: 0;
            left: 70px;
        }

        .course > li .lecture {
        }

        .course > li .category {
            display: block;
        }

        .course > li .action {
            display: none;
            left: 70px;
            position: absolute;
        }

        .course > li:hover .action {
            display: block
        }

.search-container {
    display: inline-block;
    margin-top: 6px;
    margin-left: 130px;
}

input[type=text] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    width: 400px;
}

button[type=submit] {
    background-color: teal;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 5px;
}

    button[type=submit]:hover {
        background-color: white;
        color: chocolate;
        cursor: pointer;
    }
